# البيئة الافتراضية
venv/
.env

# ملفات Python المترجمة والمؤقتة
__pycache__/
*.pyc
*.pyo
*.pyd

# ملفات النسخ الاحتياطي
*.bak
*.swp

# ملفات الإعدادات المحلية
*.local
*.log

# ملفات Git
.git/

# ملفات الشهادات (غير ضرورية الآن لأنك لا تستخدم TiDB)
*.pem

# ملفات أخرى غير ضرورية
.DS_Store  # لنظام macOS
Thumbs.db  # لنظام Windows